body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 1.5%;
    max-width: 97%;
    margin-top: 15px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 30%;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

button:hover {
    background-color: #0056b3;
}

#song-list {
    list-style-type: none;
    padding: 0;
}

#song-list li {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
}

#song-list button {
    background-color: #dc3545;
    margin-left: 20px;
    border: none;
}

#song-list button:hover {
    background-color: #c82333;
}

#genre-filter {
    margin-top: 15px;
    margin-bottom: 15px;
}
#add-song>h2{
    margin-left: 8%;
}
#add-song{
    margin-left: 38%;
}
#add-song1{
    margin-left: 35px;
    margin-bottom: 35px;
}